.jumbotron {
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(187, 176, 232, 0.5);
    background-color: white;
}

#panelResults {
    min-height: 500px;
}

.btn {
    min-width: 150px;
}

#clear {
    margin-top: 20px;
}

.angular-with-newlines {
    white-space: pre;
}
